TS_DB_USER=your_user
TS_DB_PASSWORD=your_password
TS_DB_NAME=telemetry
TS_DB_HOST=timescaledb
TS_DB_PORT=5432

TS_TELEMETRY_TABLE=engine_telemetry
TS_FAULT_TABLE=fault_events

AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=airflow
AIRFLOW_DB_NAME=airflow

PROJECT_NAME=mining_fleet_telemetry
ENV=local
